Repository lablup/backend.ai-agent, pull requests merged in 2019-09, with the labels that each got.

#138 Apply static type checker
  .gitignore
  .travis.yml
  config/sample.toml
  setup.cfg
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/files.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/docker/resources.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/resources.py
  src/ai/backend/agent/server.py
  src/ai/backend/agent/stats.py
  src/ai/backend/agent/types.py
  src/ai/backend/agent/utils.py
  src/ai/backend/agent/watcher.py
  src/ai/backend/kernel/__init__.py
  src/ai/backend/kernel/__main__.py
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/c/__init__.py
  src/ai/backend/kernel/compat.py
  src/ai/backend/kernel/cpp/__init__.py
  src/ai/backend/kernel/golang/__init__.py
  src/ai/backend/kernel/haskell/__init__.py
  src/ai/backend/kernel/java/__init__.py
  src/ai/backend/kernel/python/__init__.py
  src/ai/backend/kernel/python/sitecustomize.py
  src/ai/backend/kernel/terminal.py
  tests/test_kernel.py
  tests/test_resources.py
  tests/test_stats.py
  tests/test_utils.py
Labels: enhancement

#144 Job queue and HA support
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/stats.py
Labels: agent, blocker

#147 Add service definition for code-server
  src/ai/backend/kernel/python/__init__.py
Labels: enhancement

#148 Support batch tasks
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/docker/kernel.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/server.py
  src/ai/backend/agent/stats.py
  src/ai/backend/agent/utils.py
  src/ai/backend/kernel/base.py
  src/ai/backend/kernel/utils.py
Labels: agent, enhancement, kernel-runner
