Repository lablup/backend.ai-agent, pull requests merged in 2020-12, with the labels that each got.

#246 fix: Keep mounted hook filenames consistent
  changes/246.fix
  src/ai/backend/agent/agent.py
Labels: agent, bot:chronographer:provided, bug

#244 Fix persistency of agent sockets across restarts
  MANIFEST.in
  changes/244.fix
  config/ci.toml
  config/halfstack.toml
  config/sample.toml
  docker/socket-relay/Dockerfile
  scripts/build-socket-relay.sh
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/backendai-socket-relay.img.tar.gz
  src/ai/backend/agent/docker/backendai-socket-relay.version.txt
  src/ai/backend/agent/docker/utils.py
  src/ai/backend/agent/proxy.py
Labels: agent, backend:docker, blocker, bot:chronographer:provided, bug

#247 setup: Update dependencies
  changes/247.misc
  setup.cfg
Labels: agent, bot:chronographer:provided, enhancement

#248 Support unique resource slots
  changes/248.breaking
  changes/248.feature
  changes/248.fix
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/docker/resources.py
  src/ai/backend/agent/exception.py
  src/ai/backend/agent/resources.py
  src/ai/backend/agent/server.py
  src/ai/backend/agent/stats.py
  tests/test_alloc_map.py
Labels: agent, backend:docker, bot:chronographer:provided, enhancement

#249 fix: change dotfiles' owner from root to work user
  changes/249.fix
  src/ai/backend/agent/docker/agent.py
Labels: bot:chronographer:provided, bug

#250 fix: Stabilize container lifecycle monitoring
  changes/250.fix
  setup.cfg
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
Labels: agent, bot:chronographer:provided, bug

#251 setup: Update plugins dependencies
  changes/251.fix
  setup.cfg
Labels: agent, enhancement

#252 ci: Update workflows
  .github/workflows/default.yml
  .github/workflows/lint-flake8.yml
  .github/workflows/timeline-check.yml
  .github/workflows/typecheck-mypy.yml
  .travis.yml
  changes/252.misc
  requirements/build.txt
  src/ai/backend/agent/__init__.py
  src/ai/backend/agent/docker/utils.py
Labels: enhancement

#254 fix: A race condition of event handling while creating kernels
  changes/254.fix
  src/ai/backend/agent/agent.py
Labels: bug

#253 Support hardware metadata queries
  changes/253.feature
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/resources.py
  src/ai/backend/agent/server.py
Labels: agent, enhancement

#255 Improve multi-node cluster session resource mgmt
  changes/255.feature
  setup.cfg
  src/ai/backend/agent/exception.py
  src/ai/backend/agent/resources.py
  tests/test_alloc_map.py
Labels: blocker, enhancement

#256 Fix event races for kernel creation
  changes/256.fix
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/server.py
Labels: agent, blocker, bug

#257 Update multi-node support
  changes/257.fix
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/server.py
  src/ai/backend/agent/types.py
Labels: agent, blocker, enhancement

#258 fix: Inherit PATH env-var for ssh connections between multi-containers
  changes/258.fix
  scripts/build-dropbear.sh
  src/ai/backend/kernel/base.py
  src/ai/backend/runner/dropbear.glibc.x86_64.bin
  src/ai/backend/runner/dropbear.musl.x86_64.bin
  src/ai/backend/runner/dropbearconvert.glibc.x86_64.bin
  src/ai/backend/runner/dropbearconvert.musl.x86_64.bin
  src/ai/backend/runner/dropbearkey.glibc.x86_64.bin
  src/ai/backend/runner/dropbearkey.musl.x86_64.bin
Labels: bug, kernel-runner
