Repository lablup/backend.ai-agent, pull requests merged in 2021-09, with the labels that each got.

#300 feat: Apply RDMA-related docker configs
  changes/300.feature
  src/ai/backend/agent/docker/agent.py
Labels: enhancement, backend:docker

#301 feat: Add local overriding of Docker container configs
  changes/301.feature
  src/ai/backend/agent/docker/agent.py
Labels: enhancement, backend:docker

#305 fix: Better macOS support
  changes/305.fix
  src/ai/backend/agent/docker/kernel.py
Labels: bug, agent, backend:docker

#306 Fix: aarch64 binary crash
  changes/306.fix
  scripts/build-dropbear.sh
  scripts/build-tmux.sh
  src/ai/backend/runner/dropbear.glibc.aarch64.bin
  src/ai/backend/runner/dropbear.glibc.x86_64.bin
  src/ai/backend/runner/dropbearconvert.glibc.aarch64.bin
  src/ai/backend/runner/dropbearconvert.glibc.x86_64.bin
  src/ai/backend/runner/dropbearkey.glibc.aarch64.bin
  src/ai/backend/runner/dropbearkey.glibc.x86_64.bin
  src/ai/backend/runner/libbaihook.ubuntu16.04.x86_64.so
  src/ai/backend/runner/libbaihook.ubuntu20.04.aarch64.so
  src/ai/backend/runner/tmux.glibc.aarch64.bin
  src/ai/backend/runner/tmux.glibc.x86_64.bin
Labels: enhancement, kernel-runner

#142 feat: k8s backend adaptor
  .gitignore
  README.k8s.md
  changes/142.fix
  config/sample.toml
  install-halfstack.sh
  scripts/deploy-static/deploy_static_files.py
  scripts/eks.yml
  setup.cfg
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/exception.py
  src/ai/backend/agent/kernel.py
  src/ai/backend/agent/kubernetes/__init__.py
  src/ai/backend/agent/kubernetes/agent.py
  src/ai/backend/agent/kubernetes/backendai-socket-relay.img.tar.gz
  src/ai/backend/agent/kubernetes/backendai-socket-relay.version.txt
  src/ai/backend/agent/kubernetes/files.py
  src/ai/backend/agent/kubernetes/intrinsic.py
  src/ai/backend/agent/kubernetes/kernel.py
  src/ai/backend/agent/kubernetes/kube_object.py
  src/ai/backend/agent/kubernetes/resources.py
  src/ai/backend/agent/kubernetes/utils.py
  src/ai/backend/agent/resources.py
  src/ai/backend/agent/server.py
  src/ai/backend/agent/types.py
Labels: enhancement, kernel-runner, agent, backend:k8s

#308 fix: Mitigate random hang-up when calling Docker APIs via aiodocker/aiohttp
  changes/308.fix
  setup.cfg
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/docker/intrinsic.py
  src/ai/backend/agent/docker/utils.py
  src/ai/backend/agent/utils.py
  tests/docker/test_agent.py
Labels: bug, backend:docker

#309 feat: Add advertised-host option
  changes/309.feature
  config/ci.toml
  config/halfstack.toml
  config/sample.toml
  src/ai/backend/agent/config.py
  src/ai/backend/agent/docker/agent.py
Labels: enhancement, backend:docker
