Repository lablup/backend.ai-agent, pull requests merged in 2021-05, with the labels that each got.

#280 feat: Add overcommit factor for the main memory
  changes/280.feature
  src/ai/backend/agent/docker/intrinsic.py
Labels: agent, enhancement

#283 feat: display cluster name in shell prompt by setting PS1 envvar
  changes/283.feature
  src/ai/backend/runner/.bashrc
Labels: enhancement

#284 fix: Clarify error message for quantum check after dividing into even slices
  changes/284.fix
  src/ai/backend/agent/resources.py
  tests/test_alloc_map.py
Labels: agent, bug
