Repository lablup/backend.ai-agent, pull requests merged in 2021-02, with the labels that each got.

#269 fix: watcher startup failure after aiotools v1.2 upgrade
  changes/269.fix
  src/ai/backend/agent/watcher.py
Labels: agent, blocker, bug

#270 Refactor event bus
  changes/270.fix
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/server.py
Labels: enhancement

#271 setup: Update uvloop to 0.15 for better Python 3.8/3.9 support
  changes/271.fix
  setup.cfg
Labels: enhancement

#272 fix: error on get_container_pid in old Linux kernels
  changes/272.fix
  src/ai/backend/agent/utils.py
Labels: agent, bug

#273 fix: Ensure proper permission for the user-configured keypair
  changes/273.fix
  src/ai/backend/agent/docker/agent.py
Labels: agent, bug

#274 fix: cannot launch all service apps once one app fails to open service port
  changes/274.fix
  src/ai/backend/kernel/base.py
Labels: bug

#276 fix: Set the event source as the local agent ID
  changes/276.fix
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/docker/agent.py
  src/ai/backend/agent/utils.py
  tests/conftest.py
Labels: agent, blocker, bug
