Repository lablup/backend.ai-agent, pull requests merged in 2021-06, with the labels that each got.

#286 feat: Add support for lxcfs
  changes/286.feature
  src/ai/backend/agent/docker/agent.py
Labels: agent, enhancement

#285 fix: PosixPath object has no attribute chown error
  changes/285.fix
  src/ai/backend/agent/docker/agent.py
Labels: bug

#287 fix: Make lxcfs support to be more future-proof.
  changes/287.fix
  src/ai/backend/agent/docker/agent.py
Labels: agent, backend:docker, enhancement

#288 feat: Implement even allocation for DiscretePropertyAllocMap
  changes/288.feature
  src/ai/backend/agent/resources.py
  tests/test_alloc_map.py
Labels: agent, enhancement

#289 fix: Add explicit type annotation pkgs for latest mypy
  changes/289.fix
  setup.cfg
Labels: agent, enhancement

#290 fix: Mix of error monitor plugin and error event production
  changes/290.fix
  src/ai/backend/agent/agent.py
  src/ai/backend/agent/server.py
Labels: agent, bug

#291 feat: Explicitly set the hostname of containers
  changes/291.feature
  src/ai/backend/agent/docker/agent.py
Labels: agent, backend:docker, enhancement
